
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class='sign-up'>
  <div class="translucent-form-overlay">
    <h3>Log in</h3>
    <div class="row columns">
      <%= f.label :email, 'Email', :class => 'email-field' %>
      <%= f.text_field :email, autocomplete: "email", placeholder: "CatchingLarrys247@madfish.com" %>
    </div>

    <div class="row columns">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="row columns">
      <%= f.submit "Log in" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
  <% end %>
